.controlPane {
  padding: 24px;
  /* Optical centering */
  padding-top: 18px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 32px;
  
  /*
    HACK: Margin on an outer bound like this is
    a little gross, but we haven't seen the tools
    to deal with it yet!
  */
  /* margin-bottom: 32px; */
  @media (max-width: 440px) {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;

  }
}


.title {
  margin: 0;
  white-space: nowrap;
  overflow: clip;
  /* Optical centering */
  margin-bottom: -4px;
}

.metadata {
  margin-left: 16px;
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(0deg, 0%, 30%);
}

